<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="./home.component.scss">
  </head>
  <body>
    <div class="be-main">
        <h1 style="text-align: center;">EDUCATION</h1>
        <div class="be-main__sec">
            <div class="be-main__sec--item bg1" >
                <h3>JavaScript</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet illum</p>
            </div>
            <div class="be-main__sec--item bg2">
                <h3>Angular</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet illum</p>
            </div>
            <div class="be-main__sec--item bg3">
                <h3>React</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet illum</p>
            </div>
        </div>

        <h2>RENDERING</h2> 
        <app-services></app-services>
    </div>
   
    
    <router-outlet></router-outlet>
    
   
  </body></html>

