<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="./app.component.scss">
    <title>PROJECT</title>
  </head>
  <body>
    <!-- <div>
      <h1>Angular Project</h1> -->
    
      <!-- Task 1 -->
    
      <!-- <div>
        <textarea [(ngModel)]="newInputData" placeholder="Type here..."></textarea><br><br>
        <button (click)="logInputData()"> Input Data</button>
        <button (click)="submitNewValue()">New Value</button>
       
        <app-child [inputData]="inputData"></app-child>
      </div> -->
    
      <!-- Task 2 -->
      <!-- <app-complete></app-complete> -->
    
      <!-- Task 3 -->
      <!-- <app-content>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iusto, corporis harum saepe impedit ipsum, accusamus sunt, perspiciatis illum laudantium delectus repellat sequi esse ab in nesciunt. Velit vel sapiente amet.</p>
      </app-content>
    </div> -->

    <div>
      <header>
        <nav>
          <a routerLink="/home">Home</a>
          <a routerLink="/about">About Us</a>
          <!-- <a [routerLink]="['/student', 'Bella']" routerLinkActive="activepage">Student 1</a>
          <a [routerLink]="['/student', 'Edward']" routerLinkActive="activepage">Student 2</a> -->
          <a routerLink="/products">Product</a>
          <a routerLink="/contact">Contact</a>
          <a routerLink="/">Your App</a>
          <a routerLink="/profile">Profile</a>
          <!-- <a (click)="studentclick('Alice')">Student 3</a>
          <a (click)="studentclick('Jasper')">Student 3</a> -->
        </nav>
      </header>
    </div>
    
      <router-outlet></router-outlet>
   
      <div class="bx-footer">
        <p>Privacy Policy  |  Teams of Use  |  Cookie Policy </p>
        <p>Copyright &copy; 2022 - 2023 </p>
        </div>
  </body>
</html>
