<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="./about.component.scss">
  </head>
  <body>
    <div class="bx-main">
        <h2>About Us</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus sed iusto molestias beatae perspiciatis animi ex quis cum sint quam voluptatem sapiente, suscipit optio id provident illo fuga a ea</p>
    </div>
    <div class="bx-main__sec">
        <div class="bx-main__sec--item bg1">
            <h2>Our Vision</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam adipisci incidunt quam, odio iusto eos corporis saepe rem nostrum necessitatibus velit consequuntur eum culpa assumenda, minus quis ad cupiditate nihil.</p>
        </div>
        <div class="bx-main__sec--item bg1">
            <h2>Our Mission</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam adipisci incidunt quam, odio iusto eos corporis saepe rem nostrum necessitatibus velit consequuntur eum culpa assumenda, minus quis ad cupiditate nihil.</p>
        </div>

    </div>
  </body>
  </html>
