<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="./products.component.scss">
  </head>
  <body>
    <div class="be-main">
 <h2>PRODUCT DESCRIPTION</h2>
 <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam optio reiciendis, animi in esse nam, molestiae sed sint rerum accusantium iure similique modi! Quaerat consequatur ullam similique, vitae molestiae dicta. Lorem ipsum dolor sit, amet consectetur adipisicing elit. At voluptatum ut hic molestias quae, voluptas suscipit, laboriosam inventore commodi voluptatibus mollitia ducimus facilis! Optio totam sequi aspernatur similique? Qui, inventore.</p>
</div> </body>
</html>
